@charset "utf-8";

/*

CSS for Project 1 - 4 

*/


/* Body Styles */

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 150%;
    opacity: 0.97;
    font-family: 'Montserrat', sans-serif;
    color: #f08080;
}

div.row {
    background-color: #d7eeee;
}

.offcanvas.show {
    background-color: #d7eeee;
    color: #f08080;
}

.card-text {
    color: #f08080;
}

.progress-bar {
    background-color: #d7eeee;
    color: #f08080;
}

.list-group p {
    color: #f08080;
}

/* Body Header Styles */

h1 {
    font-size: 4em;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: center;
    color: #f08080;
}

h2 {
    font-size: 1.8em;
    line-height: 1.3em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.1em;
}

h4 {
    font-size: 1.2em;
    text-align: center;
    color: #f08080;
}

li {
    list-style-type: none;
}

/*   Slideshow Information   */

* {box-sizing:border-box}


/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #f08080;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little bit see-through */
.next:hover {
  background-color: rgba(215,238,238,0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f08080;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.modal-fullscreen

/*   Style the form   */

#regForm {
  background-color: #d7eeee;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #f08080;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #f08080;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/* Modal Styles */

div.modal-body {
    background-color: #d7eeee;
    color: #f08080;
}

.btn-primary {
    background-color: #f08080;
    color: #d7eeee;
    outline-color: #d7eeee; 
}

.btn-primary:hover {
    background-color: #d7eeee;
    color: #f08080;
}

/* Footer Styles */

footer {
    background-color: #d7eeee;
}
